/* 変数宣言 */
$header-color: #c8eee6;
$btn-color: #516ab6;
$btn-hover: #6985d8;
$bg-color: #ffffff;
$box-shadow: #e9e9e9;
$border-shadow: #eeeeee;

/* 全体の共通部分 */
header {
  background: $header-color;
  span {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    h1 {
      width: fit-content;
      cursor: pointer;
    }
    #tagline {
      align-items: baseline;
      p {
        width: fit-content;
      }
      i {
        cursor: pointer;
      }
    }
  }
}

.displayMap {
  display: flex;
  .searchArea {
    width: fit-content;
    height: fit-content;
    background-color: $bg-color;
    form {
      width: fit-content;
      margin: 0 auto;
      .flame{
        border: 1px solid #999999;
        border-radius: 3px;
        margin-top: 0.5rem;
        padding: 0.3rem 0.5rem;
      }
      .message{
        height: 5rem;
      }
    }
    .pageMoveBtn {
      width: fit-content;
      display: block;
      padding: 0.5rem 1rem;
      background: $btn-color;
      color: $bg-color;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background: $btn-hover;
      }
    }
  }
  .tableArea {
    overflow-x: hidden;
    overflow-y: scroll;
    width: fit-content;
    display: flex;
    flex-direction: column;
    .tableMargin {
      border: 1px solid $border-shadow;
      box-shadow: 5px 5px 5px $box-shadow;
      table {
        tr {
          &:nth-child(1) {
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: $header-color;
  .footerClass {
    width: fit-content;
    display: flex;
    margin: 2.5rem auto;
    a {
      width: fit-content;
    }
    .footerName {
      a {
        margin: 0 0.5rem;
      }
    }
  }
}

/* モーダル部分 */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    p{
      line-height: 1.8rem;
      b{
        display: block;
      }
      .bold{
        display: contents;
        margin: 0;
      }
    }
    a{
      display: block;
      margin-top: 1.5rem;
    }
}
