/* PC版デザイン */
@media screen and (min-width: 1100px) {

header{
  span{
    h1{
      font-size: 2.3rem;
      margin: 2.3rem 5rem 2.3rem 0;
    }
    p{
      font-size: 1.5rem;
    }
  }
}

.displayMap{
  flex-direction: row;
  #myMap{
    width: 65%;
    height: 750px;
  }
}

}
