@charset "UTF-8";
/* reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select::-ms-expand {
  display: none;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable] {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* 変数宣言 */
/* 全体の共通部分 */
header {
  background: #eaf3ff;
}

header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

header span h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

header span #tagline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header span #tagline p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header span #tagline i {
  cursor: pointer;
}

.displayMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.displayMap .searchArea {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
}

.displayMap .searchArea form {
  padding: 0rem 2rem;
}

.displayMap .searchArea .pageMoveBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  padding: 0.5rem 1rem;
  background: #516ab6;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.displayMap .searchArea .pageMoveBtn:hover {
  background: #6985d8;
}

footer {
  width: 100%;
  background: #eaf3ff;
}

footer .footerClass {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem auto;
}

footer .footerClass a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footerClass .footerName a {
  margin: 0 0.5rem;
}

/* スマホ版デザイン */
header span {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header span h1 {
  font-size: 1.5rem;
  margin: 2rem 1rem 2rem 0;
}

header span #tagline p {
  font-size: 1rem;
  margin-right: 0;
}

header span #tagline i {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.displayMap {
  height: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.displayMap #myMap {
  width: auto;
  height: 530px;
}

.displayMap .searchArea {
  margin: 0;
  font-size: 1rem;
}

.displayMap .searchArea .pageMoveBtn {
  margin: 1.5rem auto;
}

.displayMap .searchArea form .searchRow {
  margin: 2rem 0;
}

.displayMap .searchArea form .searchRow span label input {
  margin-right: 0.5rem;
}

.displayMap .searchArea form .searchRow span label .searchRadio {
  margin: 0 0.3rem 0 1rem;
}

footer {
  padding: 1rem 0 1.5rem;
}

footer .footerClass {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

footer .footerClass a {
  font-size: 1rem;
  margin: 1rem auto;
}

/* PC版デザイン */
@media screen and (min-width: 1100px) {
  header span h1 {
    font-size: 2.3rem;
    margin: 2.3rem 5rem 2.3rem 0;
  }
  header span #tagline p {
    font-size: 1.5rem;
    margin-right: 0.3rem;
  }
  header span #tagline i {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .displayMap {
    height: 750px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .displayMap #myMap {
    width: 70%;
    height: 100%;
  }
  .displayMap .searchArea {
    width: 30%;
    height: 100%;
    margin: 0;
    font-size: 1rem;
  }
  .displayMap .searchArea .pageMoveBtn {
    margin: 2rem auto;
  }
  .displayMap .searchArea form .searchRow {
    margin: 1rem 0;
  }
  .displayMap .searchArea form .searchRow span label {
    cursor: pointer;
  }
  .displayMap .searchArea form .searchRow span label input {
    margin-right: 0.5rem;
  }
  .displayMap .searchArea form .searchRow span label .searchRadio {
    margin: 0 0.3rem 0 0.6rem;
  }
  footer {
    padding: 2rem 0;
  }
  footer .footerClass {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  footer .footerClass a {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
}
